body {
    font-family: Arial, sans-serif;
    background: hsl(189, 64%, 46%);
}

.box {
    width: 360px;
    margin: 80px auto;
    background:white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 12px #ccc;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 12px;
}

input, button {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button {
    background: #0d6efd;
    color: white;
    border: none;
    margin-top: 18px;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 13px;
}

.error-input {
    border: 1px solid red;
}
