body {
    font-family: Arial, sans-serif;
    background: #eeebeb;
}

.todo-box {
    width: 400px;
    margin: 80px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 12px #ccc;
}

h2 {
    text-align: center;
}

.input-group {
    display: flex;
    gap: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-btn {
    background: #0d6efd;
    color: white;
}

.todo-list {
    margin-top: 20px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.delete-btn {
    background: #dc3545;
    color: white;
}
